body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.dectx {
  font-family: 'Pacifico', cursive;
}

.nav-link:hover, .nav-link:focus {
  font-weight: 600;
  transform: scale(1.1, 1.1);
}

.navbar-brand:hover {
  font-size: 130%;
  color: #99DBF5 !important;
}

#banner {
  margin: 0 auto;
  height: 100vh;
  background-image: url('../img/tlo/lake-2456391_1920.jpg');
  background-size: cover;
  background-position: 50%, 50%;
  opacity: 80%;
  background-attachment: fixed;
}

section {
  min-height: 100vh;
}

#herodiv {
  min-height: 180px;
}

#downlink {
  font-size: 34px;
}

#downlink:hover {
  font-size: 36px;
}

.typed-cursor {
  display: none;
}

.text-blue {
  color: #99DBF5;
}